#div1{
    position: relative;
    width: 50%;
    right: 50%;
    left: 0%;
    border: 1px solid black;
}

#h1{
    position: relative;
    width: 1em;
}

#h1{
    position: relative;
    width: 12em;
}

#h1{
    position: relative;
    width: 0.8em;
}