header{
    position: relative;
    width: 100%;
    border-bottom: 3px solid greenyellow;
    height: 200px;
    margin-top: 1em;
}
img{
    width: 9%;
    float: left;
    position: relative;
    left: 12%;
    margin: 1em;
}
ul{
    list-style-type: none;
    
   
}
li{
    display: inline-block;
    font-size: 2em;
    margin: 2%;
}
#menu{
    width: 50%;
    float: left;
    
    position: relative;
    right: 12%;
    left: 24%;
    margin: 1.5em;
}
a{
    text-decoration: none;
    color: black;
}
#color{
    color: rgb(155, 228, 45);
}